html {
  scroll-behavior: smooth;
  font-family: sans-serif; 
}

header {
  background-image: url("../img/matrix.jpg");
  color: #dddbda;
  border: 2px solid white;
  margin: 20px 20px 0;
  padding: 29px 23px 26px 16px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 26px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: black;
}

main {
  color: black;
}

em {
  color: #00fca6;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.post-autor{
  color: #00fca6; 
  font-size: 12px;
}

.post-info {
  color:#ababab;
  font-size: 12px;
}

.post-date {
  font-size: 12px;
}

.card {
  background: #00fca6;
  font-family: 'Montserrat', sans-serif;
  padding: 32px 45px 47px 30px;
  font-size: 16px;
  color: #10513a;
  margin: 20px 20px 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 700px;
}

div {
  margin: 20px;
}

article {
  background-color: white; 
  margin: 20px 20px 0;
  padding: 11px 33px 30px 30px;
}


.button {
  color: white;
  background-color: #444444;
  padding: 4px 13px 4px 14px;
  text-decoration: none;
  font-size: 12px;
}

footer {
  border: 2px solid #00fca6;
  color: white; 
  text-align: center;
  margin: 20px 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  box-shadow: lightgray 0px 5px 15px;
  margin: 0px;
}

figcaption {
  font-size: 12px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
